<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Au Register Forms by Colorlib</title>

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/main.css" rel="stylesheet" media="all">
</head>
<style>
       body {
        background: url(https://live.staticflickr.com/3174/2690293634_8557a484b1_b.jpg); 
       }

       .blue-img {
        background-image: url(/images/img01.jpg);
        display: block;
        margin: 0 auto;
        width: 70%;
        position: relative;
        top: 65px;
        padding: 60px 0;
       }

       .innerWrapper {
           width: 80%;
           margin: auto;
           text-align: center;
       }
       #new_menu {
        position: absolute;
        right: 100px;
        width: 500px;
        height: 90px;
        margin: 0 auto;
        padding: 0;
        z-index: 100;
    }
    
    #new_menu ul {
        float: right;
        margin: 0;
        padding: 20px 0px 0px 0px;
        list-style: none;
        line-height: normal;
    }
    
    #new_menu li {
        float: left;
    }
    
    #new_menu a {
        display: block;
        margin-right: 1px;
        padding: 0px 20px 0px 20px;
        text-decoration: none;
        text-align: center;
        text-shadow: 1px 1px 0px rgba(0,0,0,.2);
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-size: 16px;
        font-weight: 300;
        color: #FFFFFF;
        border: none;
    }
    
    #new_menu a:hover, #new_menu .current_page_item a {
        text-decoration: none;
        color: #FFFFFF;
    }
    
    #new_menu .current_page_item a {
    }
    

    </style>

    <body>  
            <div id="new_menu">
                    <ul>
                        <li class="current_page_item"><a href="<%= root_path %>">Homepage</a></li>
                        <li><a href="<%= parties_path %>">Parties</a></li>
                        <li><a href="<%= policies_path %>">Policies</a></li>
                        <li><a href="<%= scandals_path %>">Scandals</a></li>
              <li><a href="<%= scandals_path %>">Debates</a></li>
                    </ul>
                </div>
        <div class="blue-img">
            <div class="innerWrapper">
                <div class="card card-1">
                        <div class="card-heading"></div>
                        <div class="card-body">
                <h2 class="title">Party Central</h2>
<h3><%= link_to "Jump To Your Profile Page", user_path(session[:user_id]), {:style=> 'color:#3470da'} %></h3>
<br>
<h1>Click a link below to see information about a party.</h1><br>
<% @parties.each do |p| %>
   <h3><%= link_to  p.name, party_path(p), {:style=> 'color:#3470da'} %><br></h3> 
<% end %><br>
<br>
<br>
<h3><%= link_to  "Create A New Party", new_party_path, {:style=> 'color:#3470da'} %></h3>
<h3><%= link_to  "Back To Main Page", root_path, {:style=> 'color:#3470da'} %></h3>

