<h1>Welcome to our Site!</h1>
<h2> Please enter your e-mail and password</h2>


 <%= form_for(:session, url: login_path) do |f| %>
 <% if flash[:notice] %>
  <div class="notification is-primary global-notification">
    <p class="notice"><%= notice %></p>
  </div>
<% end %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

<h2>If you are a new voter, you can register here!</h2><br>
<%= link_to  "Create an Account", new_voter_path %><br>
<h2>If you are a new politician, you can start ruining lives here!</h2><br>
<%= link_to  "Create an Account", new_politician_path %><br>

