<h1>Here's the scandal: <%= @scandal.title %></h1>
<br>
<h2>What's the Latest?</h2>
<br>
<p> <%= @scandal.content %></p>
<br>
<img src= "<%= @scandal.photographic_evidence %>">
<%= link_to  "See All Scandals", scandals_path %>
<%= link_to  "Edit This Scandal", edit_scandal_path(@scandal) %>
