<h1>Welcome Back, <%= @user.name %>!</h1>
<br>
<%= button_to "See My Home Page", user_path(session[:user_id]), {method: :get} %>
<br>
<h2>Current Politicians</h2>
<p>To view information about a candidate, click below:</p>
<% User.all_politicians_sorted_by_vote_count.each do |u| %> 
<% if u.id != session[:user_id] %>
    <%= link_to u.name, user_path(u) %><br>
<%end%>
<%end%>
<br>
<h2>See Voters</h2>
<p>To view information about another voter, click below:</p>
<% User.all_voters.each do |u| %> 
<% if u.id != session[:user_id] %>
    <%= link_to u.name, user_path(u) %><br>
<%end%>
<%end%>
<br>
<%= button_to  "Back To Main Page", root_path, {method: :get} %>


