<h1>Register As A Voter</h1>


<%= form_for @user do |f| %>
<%= f.label :email, "Please Enter a Valid e-mail Address!" %><br>
<%= f.text_field :email %><br>
<%= f.label :password, "Please Enter a 5 digit password!" %><br>
<%= f.text_field :password %><br>
<%= f.label :name, "Enter Your Full Name!" %><br>
<%= f.text_field :name %><br>
<%= f.label :photo, "Upload A Selfie!" %><br>
<%= f.text_field :photo %><br>
<%= f.label :age, "Tell Us Your Age!" %><br>
<%= f.text_field :age %><br>
<%= f.label :race, "What Race Do You Identify As?" %><br>
<%= f.select :race,  options_for_select(['White', 'Black or African American', 'American Indian and Alaska Native', 'Asian', 'Native Hawaiian and Other Pacific Islander'])  %><br>
<%= f.label :gender, "What Is Your Gender?" %><br>
<%= f.select :gender,  options_for_select(['Male', 'Female', 'Other']) %><br>
<%= f.label :location, "What State Do You Live In?" %><br>
<%= f.select :location,  options_for_select(%w(Alabama Alaska Arizona Arkansas California Colorado Connecticut Delaware
Florida Georgia Hawaii Idaho Illinois Indiana Iowa Kansas Kentucky Louisiana
Maine Maryland Massachusetts Michigan Minnesota Mississippi Missouri Montana
Nebraska Nevada New\ Hampshire New\ Jersey New\ Mexico New\ York North\ Carolina
North\ Dakota Ohio Oklahoma Oregon Pennsylvania Rhode\ Island South\ Carolina
South\ Dakota Tennessee Texas Utah Vermont Virginia Washington West\ Virginia
Wisconsin Wyoming)) %><br>
<%= f.label :bio, "Tell Us Your Story!" %><br>
<%= f.text_area :bio %><br>
<%= f.submit %>
<% end %><br>
<%= link_to  "Back To Main Page", root_path %>