
<% if @user.is_politician? %>
<h1><%= @user.name %></h1>
<%= image_tag @user.photo %>
<% if @user.parties %>
<% @user.parties.each do |p| %>
<h2>Proud Member of the <%= link_to  p.name, party_path(p) %> Party!</h2><br>
<% end %>
<% end %>
<% if @user.parties.empty? %> 
<p>Join a <%= link_to  'Political Party', parties_path %> to have it display here!</p>
<% end %>
<h2>You Currently Have 0 Votes!</h2><br>
<h2> Title: <%= @user.title %></h2><br>
<h3>Candidate Biography</h3><br>
<p> <%= @user.bio %> </p><br>
<h3> Candidate Stats</h3><br>
<p> Age: <%= @user.age %> </p>
<p> Race: <%= @user.race %> </p>
<p> Gender: <%= @user.gender %> </p>
<p> Location: <%= @user.location %> </p>
<p> Running Mate: <%= @user.running_mate_name %> </p>
<%= image_tag @user.running_mate_photo %><br>
<br>
<h2> Your Policy Positions</h2>
<% if @user.policies %>
  <% @user.policies.each do |pol| %>
  <%= link_to pol.title, policy_path(pol) %><br>
  <% end %>
<% end %>
<% if @user.policies.empty? %>
<p>Add or Create a new <%= link_to  "Policy Point", policies_path %> to have it display here!</p>
<% end %>
<br>
<h2>Scandals You are Named In</h2>
<% if @user.scandals.present? %>
  <% @user.scandals.each do |s| %>
    <%= link_to s.title, scandal_path(s) %><br>
  <% end %>
<% else %>
  <p> You're currently as clean as a whistle. We're surprised, frankly! Don't screw this up!</p>
<% end %>
<br>
<p> You can reach <%= @user.name %> by sending an e-mail to: <%= @user.email %>
<%= button_to "Edit Your Personal Information By Clicking Here", edit_user_path(@user) %>
<%= button_to  "Back to All Users", users_path %>


<% else %>
<h1><%= @user.name %></h1>
<%= image_tag @user.photo %>
<% if @user.parties %>
<% @user.parties.each do |p| %>
<h2>Proud Member of the <%= link_to  p.name, party_path(p) %> Party!</h2><br>
<% end %>
<% end %>
<% if @user.parties.empty? %> 
<p>Join a <%= link_to  'Political Party', parties_path %> to have it display here!</p>
<% end %>
<h3>Personal Biography</h3>
<p><%=session[:user_id]%></p>
<p> <%= @user.bio %> </p>
<p> Age: <%= @user.age %> </p>
<p> Race: <%= @user.race %> </p>
<p> Gender: <%= @user.gender %> </p>
<p> Location: <%= @user.location %> </p>
<br>
<h2> Issues That are Near and Dear to Your Heart</h2>
<% if @user.policies %>
  <% @user.policies.each do |pol| %>
  <%= link_to pol.title, policy_path(pol) %><br>
  <% end %>
<% end %>
<% if @user.policies.empty? %>
<p>Add or Create a new <%= link_to  "Policy Point", policies_path %> to have it display here!</p>
<% end %>
<br>
<h2>Scandals You Have Uncovered</h2>
<% if @user.reported_scandals.present? %>
  <% @user.reported_scandals.each do |scan| %>
  <%= link_to  scan.title, scandal_path(scan) %>
  <% end %>
<% else %>
  <p> Spill the dirt on a politician by bringing a new <%= link_to  "Scandal", new_scandal_path %> to light!</p>
<% end %>
<br>
<h2>You Have Voted For These Candidates</h2>
<p>Vote now to show the world your true allegiances!</p>
<%= button_to "Edit Your Personal Information By Clicking Here", edit_user_path(@user) %>
<%= button_to  "Back to All Users", users_path %>
<%end%>



<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>