
  <h1><%= @user.name %></h1>
  <%= image_tag @user.photo %>

  <% if @user.parties.present? %>
      <% @user.parties.each do |p| %>
      <h2>Proud Member of the <%= link_to  p.name, party_path(p) %> Party!</h2><br>
      <% end %>
  <% else %>
      <p>Join a <%= link_to  'Political Party', parties_path %> to have it display here!</p>
  <% end %>

  <% if @user.is_politician? %>
      <h2>Current Vote Count: <%= @user.vote_count %> </h2> 
       <%= button_to 'Vote For Me!', action: 'increase_vote_count', params: {voter_id: session[:user_id], politician_id: @user.id} %>
      <br>
      <h2> Title: <%= @user.title %></h2><br>
      <h3>Candidate Biography</h3>
      <p> <%= @user.bio %> </p><br>
  <% else %>
      <h3>Personal Biography</h3>
      <p><%= @user.bio %> </p><br>
  <% end %>

  <h3> Personal Stats</h3>
  <p> Age: <%= @user.age %> </p>
  <p> Race: <%= @user.race %> </p>
  <p> Gender: <%= @user.gender %> </p>
  <p> Location: <%= @user.location %> </p>
      <% if @user.is_politician? %>
        <p> Running Mate: <%= @user.running_mate_name %> </p>
        <%= image_tag @user.running_mate_photo %><br>
        <br>
      <% end %>

  <h2> Your Policy Positions</h2>
  <% if @user.policies.present? %>
      <% @user.policies.each do |pol| %>
      <%= link_to pol.title, policy_path(pol) %><br>
      <% end %>
  <% else %>
      <p>Add or Create a new <%= link_to  "Policy Point", policies_path %> to have it display here!</p>
  <% end %>
  <br>

  <% if @user.is_politician? %>
      <h2>Scandals You are Named In</h2>
        <% if @user.scandals.present? %>
              <% @user.scandals.each do |s| %>
              <%= link_to s.title, scandal_path(s) %><br>
            <% end %>
        <% else %>
              <p> You're currently as clean as a whistle. We're surprised, frankly! Don't screw this up!</p>
      <% end %>
     <br>
      <h2>People Who Have Voted For You</h2>
          <% if @user.votees.present? %>
              <% @user.votees.each do |c| %>
              <%= link_to  c.name, user_path(c) %><br>
              <% end %>
          <% else %>
              <p>Get out there and talk to some <%= link_to  "voters", users_path %>!</p>
          <% end %><br>
      <br>
  <% else %>
      <h2>Scandals You Have Uncovered</h2>
          <% if @user.reported_scandals.present? %>
              <% @user.reported_scandals.each do |scan| %>
              <%= link_to  scan.title, scandal_path(scan) %><br>
            <% end %>
          <% else %>
              <p> Spill the dirt on a politician by bringing a new <%= link_to  "Scandal", new_scandal_path %> to light!</p>
          <% end %>
        <h2>You Have Voted For These Candidates</h2>
            <% if @user.politicians_voted_for.present? %>
              <% @user.politicians_voted_for.each do |c| %>
              <%= link_to  c.name, user_path(c) %><br>
              <% end %>
          <% else %>
              <p><%= link_to  "Vote", users_path %> now to show the world your true allegiances!</p>
          <% end %><br>
  <%end%>
  <br>
<p> You can reach <%= @user.name %> by sending an e-mail to: <%= @user.email %>
<%= button_to "Edit Your Personal Information By Clicking Here", edit_user_path(@user) %>
<%= button_to  "Back to All Users", users_path, {method: :get} %>
<br>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>