
<% if @user.is_politician? %>
<h1><%= @user.name %></h1>
<%= image_tag @user.photo %>
<h2> Title: <%= @user.title %></h2>
<h3>Candidate Biography</h3>
<p> <%= @user.bio %> </p>
<p> Age: <%= @user.age %> </p>
<p> Race: <%= @user.race %> </p>
<p> Gender: <%= @user.gender %> </p>
<p> Location: <%= @user.location %> </p>
<p> Running Mate: <%= @user.running_mate_name %> </p>
<%= image_tag @user.running_mate_photo %>
<p> You can reach <%= @user.name %> by sending an e-mail to: <%= @user.email %>
<%= link_to "Edit Your Personal Information By Clicking Here", edit_user_path(@user) %>
<%= link_to  "Back to All Politicians", users_path %>
<% else %>

<h1><%= @user.name %></h1>
<%= image_tag @user.photo %>
<h3>Personal Biography</h3>
<p> <%= @user.bio %> </p>
<p> Age: <%= @user.age %> </p>
<p> Race: <%= @user.race %> </p>
<p> Gender: <%= @user.gender %> </p>
<p> Location: <%= @user.location %> </p>
<%= link_to "Edit Your Personal Information By Clicking Here", edit_user_path(@user) %>
<%= link_to  "Back to All Voters", users_path %>
<%end%>

