<h1>Welcome To The Thunder Dome!</h1><br>
<h2>Where Do You Want To Go?</h2><br>
<%= link_to  'View Policies:', policies_path %><br>
<%= link_to  'View Party Information:', parties_path %><br>
<%= link_to  'See the Latest Scandals:', scandals_path %><br>
<%= link_to  'See Debates:', debates_path %><br>
<%= link_to 'Click Here to Log-in', login_path %><br>
