<!DOCTYPE html>
<html>
  <head>
    <title>Electimon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%=link_to "Policy"%>
      <%=link_to "Party"%>
      <%=link_to "Scandals"%>
      <%=link_to "Pols"%>
      <%=link_to "Votes"%>
      <%=link_to "Debates"%>
    </nav>
    <%= yield %>
  </body>
</html>
