<h1><%= @policy.title %></h1><br>
  <p> <%= @policy.content %></p><br>
  <img src="<%= @policy.photo %>"><br>
<br>
<h2> Here are all Politicians In Support of this Policy</h2>
    <% if @policy.users.present? %>
        <% @policy.users.each do |user| %>
          <% if user.is_politician? %>
            <%= link_to user.name, user_path(user) %><br>
            <% end %>
        <% end %>
    <% else %>
        <p>Start a Trend! Become the First Person to Publicly Endorse This Position!</p>
    <% end %>
<br>

<%= button_to "Add This Policy To Your Platform", action: 'add_policy_to_user', params: {user_id: session[:user_id], policy_id: @policy.id} %>
<%= button_to "Edit This Page", edit_policy_path(@policy), {method: :get} %>
<%= button_to "Back to Policies Page", policies_path, {method: :get} %>


